@keyframes bgcolor {
    0% {
        background-color: black
    }

    30% {
        background-color: rgb(71, 71, 71)
    }

    60% {
        background-color:rgb(48, 48, 48)
    }

    90% {
        background-color:gray
    }

    100% {
        background-color:rgb(41, 41, 41)
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    position: sticky;
}



h1{
    color: aliceblue;
    font-size:  xxx-large;
    display: block;
}
div.buttons{
    display:block;
    align-items: center;
}
div#home{
    margin-left: 30em;
    margin-top: 20em;
}
/* div#home2{
    margin-left: 30em;
    margin-top: 20em;
} */